<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Linux App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
      <script src="../static/js/jquery-1.12.0.js"></script>
    <script src="../static/js/operations.js"></script>

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <h1>Linux App</h1>

        <form>
          <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

  <label for="action">Options:</label>
  <select name="action" id="action">
    <option value="create">Create</option>
    <option value="delete">Delete</option>
    <option value="modify">Modify</option>
    <option value="submit">Submit</option>
  </select>
  <button id="btn" name="submit" value="submit">Do It </button>
</form>
      </div>
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>